<section id="hero-1469">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Siamease Thai Spa</span>
            <h1 class="cs-title">Expert Massage in Manchester's Chinatown</h1>
            <p class="cs-text">
                Escape to authentic Thai tranquillity in Manchester. Professional massage therapy and wellness treatments delivered with traditional techniques and care.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
        </div>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
   <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-1-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero-1.webp">
        <img decoding="async" src="/assets/images/hero-1.jpg" alt="woman getting a massage" width="2250" height="1500" aria-hidden="true">
    </picture>
    <!--SVG Curve-->
    <svg class="cs-curve" width="1920" height="136" viewBox="0 0 1920 136" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#fff"/>
    </svg>
</section>