
<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-567">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">What Our Clients Say</h2>
             <p class="cs-text">
                We promise to take care of your child’s social, emotional, intellectual and physical needs with sensitive care and we also ensure you their security with our life.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    I came in feeling like a pretzel and left feeling like a noodle — in the best way possible. Hands down (literally), the best massage I’ve ever had. Super chill vibes, magical hands, and my back no longer sounds like bubble wrap. 
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        LD
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Had the best experience ever. I had the most relaxing and respectful oil massage by Maisey who made me feel very comfortable and i am feeling great from my lower back pain due to long hours of driving daily. Thank you Maisey
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Usman Ghani
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Blue Quote-->
                <img class="cs-stars" aria-hidden="true" src="/assets/svgs/stars-2.svg" decoding="async" alt="quote icon" width="189" height="24">
                <p class="cs-item-text">
                    Stumbled upon Siamease spa by chance & wow, what a discovery! Fern (my masseuse) was wonderful, she paid great attention to my problem areas and her customer service was fab too. Will be coming back.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="/assets/svgs/google.svg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Lola O
                    </span>
                </div>
            </li>
        </ul>
        <a href="/reviews/" class="cs-button-solid">Read Reviews</a>
    </div>
</section>
                     