<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1007">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 528, height: 474}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 528, height: 474}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 528, height: 474}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 1552, height: 474}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 1552, height: 474}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 1028, height: 872}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 1028, height: 872}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/owner2.jpg" | resize({width: 1028, height: 872}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/owner2.jpg" | resize({width: 1028, height: 872}) | jpeg %}" alt="business owner" width="522" height="461" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">Discover Siamease Thai Spa</h2>
            <p class="cs-text">
                Siamease Thai Spa, founded by Sally in 2013, combines authentic Thai healing traditions with modern therapeutic excellence in Manchester's Chinatown. Our skilled team delivers genuine massage treatments and specialized wellness services in a tranquil environment. 
                <!--Creates the space between p tags on mobile-->
                <span class="cs-spacer"></span>
                We're committed to providing professional, personalised care that honors traditional wisdom while meeting contemporary health and wellness needs.
            </p>
            <a href="/aboutus/" class="cs-button-solid">About Us</a>
        </div>
    </div>
</section>
                